.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.device {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

.buttoncontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.viewing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
.main button {
  margin: 10px;
  padding: 10px;
  min-width: 80px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: white;
}
.main input {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  width: 250px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.form label {
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 1.2rem;
}

.form input[type="text"],
.form select {
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.form select {
  width: 100%;
}

.form button {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
